:root {
    --pink: Deeppink;
    --grey: #605c68;
}

.header {
    clear: both;
    overflow: show;  
    height: 60px;
    background-color: white;
    text-align:center;
    text-decoration: none;
}

.nav-item {
    float:left;
    padding:20px;
    font-size:20px;
    color: var(--grey);

}
.nav-item:hover {
    color: var(--pink);
    border-bottom: 1px solid var(--pink);
}
.right {
    float: right;
}
.capco-logo {
    float:left;
    height: 60px;
    object-fit: fill;
}